body {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
}

header {
	background-size: cover;
	background: url(file:///Users/sarah/Desktop/OUTRO/patterns/Screen%20Shot%202018-06-14%20at%2012.46.50%20PM.png);
	text-align: center;
	padding: 60px 40px 60px 40px;
	z-index: 1;

}

h1, h2, h3 {
	z-index: 0;
}

h1 {
	font-size: 70px;
	letter-spacing: 10px;
	text-align: center;
	color: #ec008c;

}

h2 {
	color: #ec008c;
	font-size: 35px;
	position: relative;
	position: relative;
}

h3 {
	color: black;
	font-size: 18px;
	z-index: 0;
	line-height: 50px;
}

p {
	font-size: 14px;
}

br {
    display: block;
    margin: 500;
}

.woo {
	padding-top: 50px;
}

.phone {
	position: sticky;
    top: 0;
    z-index: -1;
    width: 200%;
}

.margins {
	margin: 20px 20px 20px 20px;
}


.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.parallax { 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 5px;
  font-size: 30px;
  text-align: center;
}


